@media screen and (max-width: 1400px) {
    #profile{
        height: 85vh;
        margin-bottom: 6rem;
    }


    .about_container{
        flex-wrap: wrap;
    }

    .text_p1{
        text-align: left;
    }

    .text_p1_about_contact{
        text-align: center;
    }

    .links_footer{
        margin-top: 10rem;
    }
   
    
}



@media screen and (max-width: 1200px) {
    #navbar{
        display: none;
    }

    #navbar_mobile{
        display: flex;
    }

    .icon_arrow{
        display: none;
    }

    .icon_arrow2{
        display: none;
    }
    
    section{
        height: fit-content;
        margin: 0 5%;
    }
    .img_profile{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about_container{
        margin-top: 0;
    }
    .footer_desk{
        display: none;
    }
    .footer_mobile{
        display: flex;
    }
    
}

@media screen and (max-width: 600px){

    section{
        padding-top: 1vh;
        padding-bottom: 40vh;
    }

    .container{
        display: block;
    }

    #contact,footer{
        height: 1vh;
    }

    #profile{
        height: 100vh;
        margin-bottom: 0;
        flex-wrap: wrap;
        gap: 0;
    }
    .text_profile{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10rem;
    }


    .about_container, .about{
        flex-wrap: wrap;
    }




    .contact_info{
        gap: 1rem;
        display: block;
    }

    .contact_info_container{
        margin: 0;
        gap: 0.5rem;
        
    }
    .contact_info_container p, links_footer li a{
        font-size: 1rem;

    }
    .logo{
        font-size: 2rem;
    }
    .links_footer{
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        margin-bottom: 10rem;
        margin-top: 25rem;
    }
    .img_profile{
        width: auto;
        height: 300px;
        width: 300px;
    }

    .img_about{
        margin: auto;
        height: 300px;
        width: 300px;
    }



    .img_about img{
        height: 300px;
        width: 300px;
    }

    .img_profile img{
        height: 300px;
        width: 300px;
    }

    .text_container {
        text-align: justify;
        font-size: 1rem;
      }

      @media screen and (max-width: 400px){
        #profile{
            height: 120vh;
        }
      }


      @media screen and (max-height: 1080px) {
        .container{
            display: block;
        }
        
      }



     

 


}

